/* ##################################   */
/*             Root and Theme           */
/* ##################################   */
:root {
	/*Backround Colors*/
    --color_back: #1f1f1f;
    --color_backTwo: #333333;
    --color_backThree: #464646;

    /*Accent Colors*/
    --color_accent: #111e1b;
    --color_accentTwo: #13211e;

    /*Highlight Colors*/
    --color_highlight: #5b9a8d;
    --color_highlightTwo: #3d5d56;
}

body {
    background-color: var(--color_back);
}

header {
    color: var(--color_highlight);
    font-size: xxx-large;
    font-family: "Times New Roman";

}

h1   {
    color: var(--color_accentTwo);
}

p    {
    color: var(--color_highlight);
}


header {
    color: var(--color_accent)
}

