/* ##################################   */
/*             Root and Theme           */
/* ##################################   */
:root {
	/*Colors for Light Theme */
	--lightColorOne: #EEEEEE;
	--lightColorTwo: #AEC3B0;
	--lightColorThree: #598392;
	--lightColorFour: #124559;
	--lightColorFive: #111111;

	/*Colors for Dark Theme */
	--darkColorOne: #111111;
	--darkColorTwo: #124559;
	--darkColorThree: #598392;
	--darkColorFour: #AEC3B0;
	--darkColorFive: #EEEEEE;
}

.light-theme {
  --colorOne: var(--lightColorOne);
  --colorTwo: var(--lightColorTwo);
  --colorThree: var(--lightColorThree);
  --colorFour: var(--lightColorFour);
	--colorFive: var(--lightColorFive);
}

.dark-theme {
  --colorOne: var(--darkColorOne);
  --colorTwo: var(--darkColorTwo);
  --colorThree: var(--darkColorThree);
  --colorFour: var(--darkColorFour);
	--colorFive: var(--darkColorFive);
}
/* ##################################   */
/*                 INIT                 */
/* ##################################   */
* {
  color: var(--colorFive);
  font-family: helvetica;
	background: var(--colorOne);
}
ul {
    font-family: helvetica;
}
li {
  list-style: circle;
}
.list {
  list-style: square;
}

/* ##################################   */
/*                Items                 */
/* ##################################   */
.btn {
  position: absolute;
  top: 20px;
  left: 250px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}
.btn:focus { outline-style: none; }
